# Application
PROJECT_NAME=amex-journey-stitching-platform
ENVIRONMENT=development
LOG_LEVEL=INFO

# Backend
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
BACKEND_APP_MODULE=app.main:app
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CLIENT_ID=journey-simulator-api
KAFKA_CONSUMER_GROUP_ID=journey-simulator-consumer
KAFKA_WEB_TOPIC=web-events
KAFKA_MOBILE_TOPIC=mobile-events
KAFKA_CALL_CENTRE_TOPIC=callcentre-events
KAFKA_STORE_TOPIC=store-events
KAFKA_PRODUCER_TIMEOUT_SECONDS=10
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=journey_platform

# Frontend
FRONTEND_HOST=0.0.0.0
FRONTEND_PORT=3000
NEXT_PUBLIC_APP_NAME=AMEX Journey Stitching Platform
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
